// Footer
//------------------------------------------------------------
//


.footer {
    left: 0;
    padding: rem-calc(20 15);
    position: relative;
    transition: all .2s ease;

    @include screen($large) {
        margin-left: rem-calc(270);
    }
}

.toggle {
    .footer {
        left: rem-calc(80);

        @include screen($medium) {
            left: rem-calc(220);
        }

        @include screen($large) {
            left: 0;
            margin-left: 0;
        }
    }
}

.scrollToTop {
    padding: rem-calc(2);
    right: rem-calc(15);
    bottom: rem-calc(15);
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background: $gray-color;
    transition: all .4s ease;
    border-radius: $global-radius;

    .ico {
        color: #fff;
    }

    &.fade-in {
        opacity: 1;
        visibility: visible;
    }
}

