// Header
//------------------------------------------------------------
//


.header {
    top: 0;
    left: rem-calc(-60);
    right: 0;
    height: rem-calc(60);
    z-index: 3;
    position: fixed;
    background: #fff;
    transition: all .2s ease;

    @include screen($medium) {
        left: rem-calc(-220);
    }

    @include screen($large) {
        left: 0;
    }

    .ico {
        color: $base-font-color;
    }
}

.toggle {
    .header {
        left: 0;

        @include screen($large) {
            left: rem-calc(-270);
        }
    }
}

.brand {
    float: left;
    @include same-size(rem-calc(60));
    padding: rem-calc(6 0);
    text-align: center;
    background: $brand-primary;

    @include screen($medium) {
        width: rem-calc(220);
    }

    @include screen($large) {
        width: rem-calc(270);
    }

    .logo {
        .ico {
            color: #fff;
            font-size: rem-calc(19);
            line-height: 2.5;

            @include screen($medium) {
                font-size: rem-calc(40);
                line-height: 1.25;
            }

            @include screen($large) {
                font-size: rem-calc(50);
                line-height: 1;
            }
        }
    }
}

.nav-toggle {
    float: left;
    @include same-size(rem-calc(60));
    cursor: pointer;
    text-align: center;
    border-right: $base-border;

    &:active {
        background: $light-gray;
    }

    .ico {
        line-height: 1.9;
    }
}


