// Header
//------------------------------------------------------------
//


.header {
    top: 0;
    left: rem-calc(-60);
    right: 0;
    height: rem-calc(59);
    z-index: 3;
    position: fixed;
    background: #fff;
    transition: all .2s ease;

    @include screen($medium) {
        left: rem-calc(-220);
        height: rem-calc(59);
    }

    @include screen($large) {
        left: 0;
        height: rem-calc(60);
    }

    &:after {
        content: "";
        height: 1px;
        left: rem-calc(60);
        right: 0;
        bottom: rem-calc(-1);
        position: absolute;
        background: $mid-gray;

        @include screen($medium) {
            left: rem-calc(220);
        }

        @include screen($large) {
            left: rem-calc(270);
        }
    }

    .ico {
        color: $base-font-color;
    }
}

.toggle {
    .header {
        left: 0;
        right: rem-calc(-60);

        @include screen($medium) {
            right: rem-calc(-220);
        }

        @include screen($large) {
            left: rem-calc(-270);
            right: 0;
        }
    }
}


.brand {
    float: left;
    @include same-size(rem-calc(60));
    padding: rem-calc(6 0);
    text-align: center;
    background: $brand-primary;

    @include screen($medium) {
        width: rem-calc(220);
    }

    @include screen($large) {
        width: rem-calc(270);
    }

    .logo {
        .ico {
            color: #fff;
            font-size: rem-calc(22);
            line-height: 2.1;

            @include screen($medium) {
                font-size: rem-calc(40);
                line-height: 1.25;
            }

            @include screen($large) {
                font-size: rem-calc(49);
                line-height: 1;
            }
        }
    }
}


.nav-toggle {
    float: left;
    @include same-size(rem-calc(60));
    cursor: pointer;
    text-align: center;
    border-right: $base-border;

    &:active {
        background: $light-gray;
    }

    .ico {
        line-height: 1.9;
    }
}


// Quick Nav
.quick-nav {
    float: right;

    * {
        color: $base-font-color;
        font-size: rem-calc(14);
        line-height: 1.4;
    }

    li {
        float: left;
        padding: rem-calc(15 10);
        height: rem-calc(60);
        border-left: $base-border;

        @include screen($medium) {
            padding: rem-calc(15);
        }
    }

    .ico {
        @include same-size(rem-calc(30));
        font-size: rem-calc(20);
        text-align: center;

        @include screen($medium) {
            margin: rem-calc(0 0 0 5);
        }
    }

    .text {
        display: none;

        @include screen($medium) {
            display: inline-block;
        }
    }
}


