// Layout
//------------------------------------------------------------
//


.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    position: fixed;
    visibility: hidden;
    background: rgba(68,93,114, .6);
    transition: all .45s ease;

    @include screen($large) {
        display: none;
    }
}

.toggle {
    .overlay {
        opacity: 1;
        visibility: visible;
    }
}


.headline {
    margin: 0;
    line-height: 1;
}


.title {
    margin: 0;
    font-weight: 100;
}


.caption {
    margin: 0;
}

.sum {
    margin: rem-calc(20 0 0);
    font-size: rem-calc(30);
    font-weight: 100;
    line-height: 1;
    font-family: $base-font-light;

    @include screen($medium) {
        margin: rem-calc(30 0 0);
    }

    @include screen($large) {
        font-size: rem-calc(36);
        margin: rem-calc(38 0 0);
    }
}


.ac-trigger {
    margin: 0;
    padding: rem-calc(12 15);
    font-size: rem-calc(14);
    color: $base-font-color;
    position: relative;
    cursor: pointer;
    background: #fff;
    border-top: $base-border;
    transition: all .3s ease;

    @include screen($medium) {
        display: none;
    }

    .arrow {
        top: rem-calc(10);
        right: rem-calc(10);
        font-size: rem-calc(24);
        color: $base-font-color;
        position: absolute;
        transition: all .3s ease;
    }

    &.active {
        background: $light-gray;

        .arrow {
            @include transform(rotate(-180deg));
        }
    }
}

.accordion {
    display: none;
    top: rem-calc(15);
    padding: rem-calc(0 15 15);
    position: relative;
}

