// Main
//------------------------------------------------------------
//


.main {
    min-height: 100%;
    left: 0;
    z-index: 1;
    padding: rem-calc(60 0 0);
    overflow-x: hidden;
    position: relative;
    background: $mid-gray;
    transition: all .2s ease;

    @include screen($large) {
        margin-left: rem-calc(270);
    }
}

.toggle {
    .main {
        left: rem-calc(60);

        @include screen($medium) {
            left: rem-calc(220);
        }

        @include screen($large) {
            left: 0;
            margin-left: 0;
        }
    }
}


// Breadcrumbs
.breadcrumbs {
    padding: rem-calc(15);
    background: $light-gray;

    .ico {
        color: $gray-color;
        font-size: rem-calc(28);
        padding-right: rem-calc(8);
    }
}


// Content
.content {
    @extend %clearfix;

    @include screen($medium) {
        padding: rem-calc(15 0);
    }
}


// Content-main
.content-main {
    @extend %col;
    padding: 0;

    @include screen($medium) {
        @include col(9);
        padding-left: rem-calc(15);
    }
}


.content-inner {
    @include screen($medium) {
        top: 0;
        padding: 0;
        display: block;
    }
}


.current-insight {
    @extend %col;
    padding: 0;

    @include screen($medium) {
        @include col(4);
    }

    .ico-big {
        top: 50%;
        right: rem-calc(15);
        position: absolute;
        padding: rem-calc(10);
        border: 2px solid $gray-color;
        border-radius: 100px;
        @include transform(translateY(-50%));
    }
}

.sales-insight,
.global-insight {
    @extend %col;
    padding: 0;

    @include screen($medium) {
        @include col(8);
        padding-left: $col-gutter;
    }
}


// Panels
.panel {
    margin: rem-calc(0 0 15);
    padding: rem-calc(10);
    position: relative;
    background: #fff;
    border-radius: $global-radius;
    box-shadow: $global-shadow;
    @extend %clearfix;

    .ico {
        font-size: rem-calc(28);

        @include screen($large) {
            font-size: rem-calc(38);
        }

        &.refresh {
            top: rem-calc(5);
            right: rem-calc(5);
            position: absolute;
            cursor: pointer;
            font-size: rem-calc(18);
            color: $gray-color;
        }
    }

    .title {
        display: none;

        @include screen($medium) {
            display: inline-block;
        }

        .ico {
            font-size: rem-calc(26);
            margin: rem-calc(0 5 0 0);

            @include screen($large) {
                font-size: rem-calc(30);
            }
        }
    }

    .date {
        float: right;
        margin: rem-calc(6 0 0);
        padding: rem-calc(2 2 2 10);
        cursor: pointer;
        font-size: rem-calc(13);
        background: $light-gray;
        border-radius: $global-radius;

        .ico {
            color: $base-font-color;
        }

        .ico-calendar {
            font-size: rem-calc(20);
            margin: rem-calc(0 0 0 5);
        }

        .ico-arrow-down {
            font-size: rem-calc(18);
        }
    }
}


// Current Insight
.total-sales {
    .sum,
    .ico {
        color: $green-color;
    }

    .ico-big {
        border: 2px solid $green-color;
    }
}

.total-orders {
    .sum,
    .ico {
        color: $blue-color;
    }

    .ico-big {
        border: 2px solid $blue-color;
    }
}

.total-customers {
    .sum,
    .ico {
        color: $purple-color;
    }

    .ico-big {
        border: 2px solid $purple-color;
    }
}

.total-visits {
    .sum,
    .ico {
        color: $yellow-color;
    }

    .ico-big {
        border: 2px solid $yellow-color;
    }
}


// TODO: Delete later
.sales-analytics-chart,
.global-market-chart {
    height: 190px;
}


// Content-side
.content-side {
    @extend %col;
    padding: 0;

    @include screen($medium) {
        @include col(3);
        padding-left: rem-calc(15);
        padding-right: rem-calc(15);
    }

    .custom-inputs {
        height: rem-calc(22);

        label {
            margin: 0;
        }

        .check {
            margin: rem-calc(0 5 0 0);
        }
    }

    .actions {
        .ico {
            cursor: pointer;
            margin-left: rem-calc(5);
        }
    }
}


// To-do
.to-do-list {
    @extend %col;
    padding: 0;

    button {
        @include btn($btn-padding: $btn-tny, $btn-margin: rem-calc(4 0 0), $btn-font-size: $btn-tny-font-size);
        float: right;
    }
}

.to-do {
    .tabs {
        overflow: auto;
        float: left;
        width: 100%;
        height: rem-calc(175);
        margin: rem-calc(15 0 0);
    }

    .tabs-links {
        width: 100%;
        @include display-flex;
        border-bottom: $base-border;

        li {
            @include flex(1, 1, auto);
            top: rem-calc(1);
            position: relative;

            &.active {
                border-bottom: 1px solid $blue-color;

                &:before {
                    content: "";
                    left: 50%;
                    bottom: -8px;
                    border-top: 7px solid $blue-color;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    position: absolute;
                    @include transform(translateX(-50%));
                }

                &:after {
                    content: "";
                    left: 50%;
                    bottom: -6px;
                    border-top: 6px solid #fff;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    position: absolute;
                    @include transform(translateX(-50%));
                }

                a {
                    color: $dark-color;
                }
            }
        }

        a {
            padding: rem-calc(10);
            font-size: rem-calc(11);
            font-weight: 700;
            color: $base-font-color;
        }
    }

    .tab-content {
        li {
            @extend %block-list;
        }
    }

    .time {
        top: rem-calc(4);
        right: rem-calc(10);
        color: $gray-color;
        font-size: rem-calc(9);
        position: absolute;

        .ico {
            font-size: rem-calc(12);
        }
    }

    .actions {
        right: rem-calc(10);
        bottom: rem-calc(4);
        position: absolute;

        .ico {
            font-size: rem-calc(14);
        }
    }
}


// User Accounts
.user-accounts-list {
    @extend %col;
    padding: 0;

    button {
        @include btn($btn-bg: $green-color, $btn-padding: $btn-tny, $btn-font-size: $btn-tny-font-size);
        float: left;
    }

    .users-header {
        @extend %clearfix;
        margin: rem-calc(10 0 0);
        border-bottom: $base-border;

        > span {
            float: left;
            padding: rem-calc(10);
            font-weight: 700;
            font-size: rem-calc(11);

            &:last-child {
                float: right;
            }
        }
    }

    .users-list {
        li {
            @extend %block-list;
        }
    }

    .user-mail {
        display: block;
        margin: rem-calc(3 0);
        font-size: rem-calc(10);
        color: $base-font-color;
    }

    .actions {
        top: 50%;
        right: rem-calc(10);
        position: absolute;
        @include transform(translateY(-50%));

        .ico {
            font-size: rem-calc(18);
        }
    }

    .users-footer {
        @extend %clearfix;
        padding: rem-calc(15 10 5);
    }

    .pagination {
        float: right;
        font-size: 0;
        text-align: center;
        border: $base-border;
        border-radius: $global-radius;

        * {
            color: $base-font-color;
        }

        li {
            display: inline-block;
            border-left: $base-border;

            &:first-child {
                border-left: none;
            }
        }

        a {
            display: block;
            height: rem-calc(24);
            line-height: 1.4;
            padding: rem-calc(3 7);
            font-size: rem-calc(12);
            font-weight: 700;

            &.active,
            &:active {
                background: #eff4f8;
            }
        }

        .direction {
            padding: rem-calc(3 0);
        }

        .ico {
            line-height: 0;
            font-size: rem-calc(18);
        }
    }
}


