// Main
//------------------------------------------------------------
//


.main {
    left: 0;
    margin: rem-calc(60 0 0);
    overflow-x: hidden;
    position: relative;
    background: $mid-gray;
    transition: all .2s ease;

    @include screen($large) {
        margin-left: rem-calc(270);
    }
}

.toggle {
    .main {
        left: rem-calc(80);

        @include screen($medium) {
            left: rem-calc(220);
        }

        @include screen($large) {
            left: 0;
            margin-left: 0;
        }
    }
}



// Content
.content {
    @extend %clearfix;

    @include screen($medium) {
        padding: rem-calc(15 0);
    }
}




.current-insight,
.sales-insight,
.global-insight,
.revenues-insight,
.to-do-list,
.user-accounts-list,
.account-balance-list {
    @extend %col;
    padding: 0;
}



// Content Main
.content-main {
    @extend %col;

    @include screen($medium) {
        padding: 0 $col-gutter;
    }

    @include screen($large) {
        @include col(9);
        padding-left: $col-gutter;
        padding-right: 0;
    }
}



// Content Inner
.content-inner {
    // @include screen($medium) {
    //     top: 0;
    //     padding: 0;
    //     display: block;
    // }
}



// Panels
.panel {
    margin: rem-calc(0 0 15);
    padding: rem-calc(10);
    position: relative;
    background: #fff;
    border-radius: $global-radius;
    box-shadow: $global-shadow;
    @extend %clearfix;

    .ico {
        font-size: rem-calc(28);

        @include screen($large) {
            font-size: rem-calc(38);
        }

        &.refresh {
            top: rem-calc(5);
            right: rem-calc(5);
            position: absolute;
            cursor: pointer;
            font-size: rem-calc(18);
            color: $gray-color;
        }
    }

    .title {
        display: inline-block;

        .ico {
            font-size: rem-calc(26);
            margin: rem-calc(0 5 0 0);

            @include screen($large) {
                font-size: rem-calc(30);
            }
        }
    }

    .date {
        float: right;
        margin: rem-calc(6 0 0);
        padding: rem-calc(2 2 2 10);
        cursor: pointer;
        font-size: rem-calc(13);
        background: $light-gray;
        border-radius: $global-radius;

        .ico {
            color: $base-font-color;
        }

        .ico-calendar {
            font-size: rem-calc(20);
            margin: rem-calc(0 0 0 5);
        }

        .ico-arrow-down {
            font-size: rem-calc(18);
        }
    }
}

