// Nav
//------------------------------------------------------------
//


.main-nav {
    li {
        border-bottom: $thin-border;

        &:first-child {
            border-top: $thin-border;
        }
    }

    a {
        display: block;
        padding: rem-calc(15 0);
        color: $base-font-color;
        text-align: center;

        @include screen($large) {
            padding: rem-calc(15 20);
            text-align: left;
        }

        &:hover,
        &.active {
            box-shadow: 5px 0 0 $brand-primary inset;
            background: #425a6e;
        }
    }

    .ico {
        color: $dark-gray;
        font-size: rem-calc(22);

        @include screen($large) {
            margin: rem-calc(0 10 0 0);
            font-size: rem-calc(20);
        }
    }

    .text {
        display: none;

        @include screen($large) {
            display: inline-block;
        }
    }
}