// Sidebar
//------------------------------------------------------------
//


.sidebar {
    width: rem-calc(60);
    top: 0;
    left: rem-calc(-60);
    bottom: 0;
    z-index: 2;
    padding: rem-calc(60 0 0);
    overflow-y: auto;
    position: fixed;
    background: $dark-color;
    transition: all .2s ease;

    @include screen($medium) {
        left: rem-calc(-220);
        width: rem-calc(220);
    }

    @include screen($large) {
        left: 0;
        width: rem-calc(270);
    }

    * {
        transition: all .35s ease;
    }

    .ico {
        font-size: rem-calc(20);
    }
}

.toggle {
    .sidebar {
        left: 0;

        @include screen($large) {
            left: rem-calc(-270);
        }
    }
}

.sidebar-user {
    padding: rem-calc(20 0);
    text-align: center;

    @include screen($medium) {
        padding: rem-calc(20);
    }

    .quick-nav {
        font-size: 0;
        text-align: center;

        @include screen($medium) {
            margin: rem-calc(0 0 20);
        }

        li {
            display: block;
            margin: rem-calc(0 0 10);

            &:last-child {
                margin: 0;
            }

            @include screen($medium) {
                display: inline-block;
                margin: rem-calc(0 10);

                &:last-child {
                    margin: rem-calc(0 10);
                }
            }
        }

        a {
            display: inline-block;
            @include same-size(rem-calc(30));
            position: relative;
            border-radius: 100px;
            border: 1px solid $base-font-color;

            &:active {
                border-color: $dark-gray;

                .ico {
                    color: $dark-gray;
                }
            }
        }
    }

    h3 {
        color: $light-color;
        margin: rem-calc(15 0 0);
        font-size: rem-calc(12);
        text-transform: uppercase;
    }

    p {
        margin: rem-calc(10 0 0);
        line-height: 1;
    }

    .ico {
        line-height: 1.4;
        color: $base-font-color;
    }
}

.user {
    display: none;

    @include screen($medium) {
        display: inline-block;
    }
}

.user-avatar {
    display: inline-block;
    @include same-size(rem-calc(90));
    position: relative;
}

.avatar {
    border-radius: 100px;
}

.user-status {
    &:after {
        content: "";
        @include same-size(rem-calc(14));
        bottom: rem-calc(6);
        right: rem-calc(6);
        position: absolute;
        border: 2px solid #fff;
        border-radius: 100px;
        background: #a1a1a1;
    }

    &.online {
        &:after {
            background: #27c24c;
        }
    }

    &.away {
        &:after {
            background: #ff920e;
        }
    }

    &.busy {
        &:after {
            background: #d73f31;
        }
    }

    &.offline {
        &:after {
            background: #a1a1a1;
        }
    }
}

.user-description {
    font: {
        family: $base-font-light;
        size: rem-calc(12);
    }
}

.user-location {
    color: $red-color;
    font-size: rem-calc(11);
    text-transform: uppercase;

    .ico {
        display: block;
        color: $red-color;
        font-size: rem-calc(18);
    }
}



