// Media Queries
//------------------------------------------------------------
//


// Media Queries Variables
// --------------------------------------------------

$small: "max-width: 640px";
$medium: "min-width: 641px";
$large: "min-width: 1025px";
$xlarge: "min-width: 1441px";
$xxlarge: "min-width: 1921px";
$portrait: "orientation: portrait" !default;
$landscape: "orientation: landscape" !default;


// Media Queries Mixin
// --------------------------------------------------

@mixin screen($breakpoint, $orientation: false) {
    @if $orientation != false {
        @media (#{$breakpoint}) and (#{$orientation}) {
            @content;
        }
    } @else {
        @media ($breakpoint) {
            @content;
        }
    }
}