// Variables
//------------------------------------------------------------
//


// Colors
// --------------------------------------------------

$light-color: #ecf6fe;
$dark-color: #445d72;
$gray-color: #d3dde5;
$light-gray: #f6f8f8;
$mid-gray: #ecf0f1;
$dark-gray: #244058;
$base-font-color: #94b3cd;
$brand-primary: #ee6e73;
$green-color: #67d481;
$blue-color: #4fc5ea;
$purple-color: #9b8ad8;
$yellow-color: #fad733;
$red-color: #ef4238;


// Alerts Colors
$info-color: #bee7f8;
$success-color: #97df8b;
$warning-color: #fece89;
$error-color: #fb9282;


// Global
// --------------------------------------------------

$rem-base: 16px !default;
$body-bg: darken($light-color, 10%);
$body-font-family: 'open_sansregular', Helvetica, Arial, sans-serif;
$font-smoothing: antialiased;


// Typography
// --------------------------------------------------

$base-line-height: 1.6;
$base-font-size: rem-calc(16);
$base-font-light: 'open_sanslight';
$base-font-regular: 'open_sansregular';
$base-font-strong: 'open_sansbold';


// Headings
// --------------------------------------------------

$h1-sml-size: rem-calc(19);
$h2-sml-size: rem-calc(28);
$h3-sml-size: rem-calc(12);
$h4-sml-size: rem-calc(18);
$h5-sml-size: rem-calc(16);
$h6-sml-size: rem-calc(15);

$h1-med-size: rem-calc(21);
$h2-med-size: rem-calc(38);
$h3-med-size: rem-calc(13);
$h4-med-size: rem-calc(24);
$h5-med-size: rem-calc(20);
$h6-med-size: rem-calc(18);

$h1-lrg-size: rem-calc(23);
$h2-lrg-size: rem-calc(42);
$h3-lrg-size: rem-calc(14);
$h4-lrg-size: rem-calc(28);
$h5-lrg-size: rem-calc(22);
$h6-lrg-size: rem-calc(20);


// Paragraph
// --------------------------------------------------

$paragraph-sml-size: rem-calc(14);
$paragraph-med-size: rem-calc(16);
$paragraph-lrg-size: rem-calc(18);


// UI Styles
// --------------------------------------------------

$global-radius: 2px;
$global-shadow: 0 2px 0 rgba($dark-color, .05);
$global-shadow-inset: 0 0 6px rgba($dark-color, .3);
$base-border: 1px solid $mid-gray;
$thin-border: 1px solid #516d84;

