// Accordion
//------------------------------------------------------------
//


.ac-trigger {
    margin: 0;
    padding: rem-calc(15);
    font-size: rem-calc(15);
    color: $base-font-color;
    position: relative;
    cursor: pointer;
    background: #fff;
    border-top: $base-border;
    transition: all .3s ease;

    @include screen($medium) {
        display: none;
    }

    .arrow {
        top: rem-calc(13);
        right: rem-calc(10);
        font-size: rem-calc(24);
        color: $base-font-color;
        position: absolute;
        transition: all .3s ease;
    }

    &.active {
        background: $light-gray;

        .arrow {
            @include transform(rotate(-180deg));
        }
    }
}

.accordion {
    display: none;
    top: rem-calc(15);
    padding: rem-calc(0 15 15);
    position: relative;

    @include screen($medium) {
        display: block !important;
    }
}

