// DatePicker
//------------------------------------------------------------
//


.datepicker {
    padding: 0;
    margin: 0;
    height: rem-calc(30);
    border: none;
    cursor: pointer;
    text-align: right;
    padding-right: rem-calc(30);
    display: inline-block;
    vertical-align: middle;
    background: transparent;

    &:active,
    &:focus {
        box-shadow: none;
        background: transparent;
    }
}

.pika-single {
    top: rem-calc(59) !important;
    left: auto !important;
    right: rem-calc(50) !important;
    z-index: 9999;
    display: block;
    position: relative;
    color: $base-font-color;
    background: #fff;
    border: 1px solid $gray-color;
    border-radius: $global-radius;
    @extend %clearfix;

    @include screen($medium) {
        right: rem-calc(114) !important;
    }

    @include screen($large) {
        top: rem-calc(60) !important;
    }
}

.pika-single {
    &.is-hidden {
        display: none;
    }
}

.pika-single {
    &.is-bound {
        position: absolute;
        box-shadow: 0 5px 15px -5px rgba(#000, .5);
    }
}

.pika-lendar {
    float: left;
    width: rem-calc(240);
    margin: rem-calc(8);
}

.pika-title {
    position: relative;
    text-align: center;

    select {
        margin: 0;
        top: rem-calc(5);
        left: 0;
        opacity: 0;
        z-index: 9998;
        cursor: pointer;
        visibility: hidden;
        position: absolute;
    }
}

.pika-label {
    margin: 0;
    padding: rem-calc(5 3);
    display: inline-block;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    font-size: rem-calc(14);
    line-height: 20px;
    font-weight: 700;
    background: #fff;
}

.pika-prev,
.pika-next {
    padding: 0;
    top: rem-calc(-4);
    width: rem-calc(20);
    height: rem-calc(34);
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: none;
    color: $gray-color;
    font-size: rem-calc(22);
    background: transparent;

    &:hover,
    &:active,
    &:focus {
        border: none;
        background: transparent;
    }
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
}


.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table {
    th, td {
        padding: 0;
        width: 14.285714285714286%;
    }
}

.pika-table {
    th {
        color: #999;
        font-size: rem-calc(12);
        line-height: 25px;
        font-weight: bold;
        text-align: center;
    }
}

.pika-button {
    cursor: pointer;
    display: block;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: rem-calc(5);
    color: $base-font-color;
    font-size: rem-calc(12);
    line-height: 15px;
    text-align: center;
    background: transparent;
    border-radius: 0;
}

.pika-week {
    color: #999;
    font-size: rem-calc(11);
}

.is-today {
    .pika-button {
        color: #33aaff;
        font-weight: bold;
    }
}

.is-selected {
    .pika-button {
        color: #fff;
        font-weight: bold;
        background: $brand-primary;
    }
}

.is-selected {
    .pika-button {
        &:hover {
            background: $brand-primary;
        }
    }
}

.is-disabled {
    .pika-button {
        pointer-events: none;
        cursor: default;
        color: #999;
        opacity: .3;
    }
}

.pika-button {
    &:hover {
        background: $mid-gray;
        box-shadow: none;
    }
}

.pika-button {
    &:active,
    &:focus {
        border: none;
    }
}

.pika-table {
    abbr {
        cursor: default;
        color: $dark-color;
        border-bottom: none;
    }
}

