// DatePicker
//------------------------------------------------------------
//


.datepicker {
    padding: 0;
    margin: 0;
    height: rem-calc(30);
    border: none;
    cursor: pointer;
    text-align: right;
    padding-right: rem-calc(30);
    display: inline-block;
    vertical-align: middle;
    background: transparent;

    &:active,
    &:focus {
        box-shadow: none;
        background: transparent;
    }
}

.datepicker-single {
    top: rem-calc(59) !important;
    left: auto !important;
    right: rem-calc(50) !important;
    z-index: 9999;
    display: block;
    position: relative;
    color: $base-font-color;
    background: #fff;
    border: 1px solid $gray-color;
    border-radius: $global-radius;
    @extend %clearfix;

    @include screen($medium) {
        right: rem-calc(114) !important;
    }

    @include screen($large) {
        top: rem-calc(60) !important;
    }
}

.datepicker-single {
    &.is-hidden {
        display: none;
    }
}

.datepicker-single {
    &.is-bound {
        position: absolute;
        box-shadow: 0 5px 15px -5px rgba(#000, .5);
    }
}

.datepicker-holder {
    float: left;
    width: rem-calc(240);
    margin: rem-calc(8);
}

.datepicker-title {
    position: relative;
    text-align: center;

    select {
        margin: 0;
        top: rem-calc(5);
        left: 0;
        opacity: 0;
        z-index: 9998;
        cursor: pointer;
        position: absolute;
    }
}

.datepicker-label {
    margin: 0;
    padding: rem-calc(5 3);
    display: inline-block;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    font-size: rem-calc(14);
    line-height: 20px;
    font-weight: 700;
    background: #fff;
}

.datepicker-prev,
.datepicker-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: rem-calc(20);
    height: rem-calc(30);
    background: transparent;

    .ico {
        margin: 0;
        width: rem-calc(30);
        color: $gray-color;
        font-size: rem-calc(26)!important;
        position: relative;
    }
}

.datepicker-prev {
    .ico {
        left: rem-calc(-6);
    }
}

.datepicker-next {
    .ico {
        right: rem-calc(4);
    }
}

.datepicker-prev:hover,
.datepicker-next:hover {
    background: transparent;
}

.datepicker-prev,
.is-rtl .datepicker-next {
    float: left;
}

.datepicker-next,
.is-rtl .datepicker-prev {
    float: right;
}

.datepicker-prev.is-disabled,
.datepicker-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.datepicker-select {
    display: inline-block;
}

.datepicker-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.datepicker-table th,
.datepicker-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.datepicker-table th {
    color: #999;
    font-size: rem-calc(12);
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.datepicker-button {
    cursor: pointer;
    display: block;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: rem-calc(5);
    color: $base-font-color;
    font-size: rem-calc(12);
    line-height: 15px;
    text-align: center;
    background: transparent;
    border-radius: 0;
}

.datepicker-week {
    font-size: rem-calc(11);
    color: #999;
}

.is-today .datepicker-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .datepicker-button {
    color: #fff;
    font-weight: bold;
    background: $brand-primary;
}

.is-selected .datepicker-button:hover {
    background: $brand-primary;
}

.is-disabled .datepicker-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.datepicker-button:hover {
    background: $mid-gray;
    box-shadow: none;
}

.datepicker-button:active,
.datepicker-button:focus {
    border: none;
}

/* styling for abbr */
.datepicker-table abbr {
    cursor: default;
    color: $dark-color;
    border-bottom: none;
}

