// Forms
//------------------------------------------------------------
//


// Inputs
// --------------------------------------------------

input,
textarea,
select {
    width: 100%;
    margin: rem-calc(0 0 10);
    padding: rem-calc(8 10);
    color: rgba(#000, .75);
    font-size: rem-calc(14);
    background: none $light-color;
    border: $base-border;
    border-radius: $global-radius;
    transition: all .35s ease;
    @include appearance(none);

    &:focus {
        outline: none;
        box-shadow: inset 0 0 2px rgba(#000, .08);
        background: darken($light-color, 3%);
        border-color: darken($light-color, 17%);
    }

    &[disabled],
    &[readonly],
    fieldset[disabled] {
        cursor: default;
        color: rgba(#000, .3);
        background: darken($light-color, 6%);
    }
}

textarea {
    max-width: 100%;
}

option {
    margin: rem-calc(3 0);
}

label {
    margin: rem-calc(0 0 5);
    display: inline-block;
    vertical-align: middle;
    font-size: rem-calc(14);
    color: darken($light-color, 40%);
    cursor: pointer;
}


// Fieldset
// --------------------------------------------------

fieldset {
    margin: rem-calc(20 0);
    padding: rem-calc(10);
    border: $base-border;
    border-radius: $global-radius;
}

legend {
    margin: 0;
    padding: rem-calc(5);
    font-weight: bold;
}


.search-form {
    width: 0;
    min-width: rem-calc(30);
    height: rem-calc(30);
    position: relative;
    overflow: hidden;
    transition: all .35s ease;

    &.push {
        width: rem-calc(127);

        @include screen($medium) {
            width: rem-calc(170);
        }

        @include screen($large) {
            width: rem-calc(230);
        }

        .submit {
            z-index: 1;
        }

        .submission {
            z-index: 2;
        }
    }

    .search {
        padding: 0;
        margin: 0;
        width: rem-calc(92);
        height: rem-calc(30);
        right: rem-calc(35);
        border-radius: 0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 2px solid $brand-primary;
        background: transparent;
        position: absolute;

        @include screen($medium) {
            width: rem-calc(135);
        }

        @include screen($large) {
            width: rem-calc(195);
        }

        &:focus {
            opacity: .6;
            box-shadow: none;
            border-color: #fad3d5;
            background: transparent;
        }
    }

    .submit {
        margin: 0;
        right: 0;
        width: rem-calc(30);
        height: rem-calc(30);
        z-index: 2;
        position: absolute;
        cursor: pointer;
        text-align: center;
        line-height: 1.4;
    }

    .submission {
        margin: 0;
        padding: 0;
        right: 0;
        width: rem-calc(30);
        height: rem-calc(30);
        z-index: 1;
        border: none;
        position: absolute;
        text-indent: -10000px;
        background: transparent;

        &:hover,
        &:focus,
        &:active {
            background: transparent;
        }
    }
}


// Custom Inputs
// --------------------------------------------------

.custom-inputs {
    position: relative;
    display: inline-block;

    &.select {
        min-width: 10%;

        &:after {
            content: "▾";
            width: rem-calc(20);
            height: 100%;
            top: 0;
            right: 0;
            position: absolute;
            line-height: 1.6;
            font-size: rem-calc(20);
            color: darken($light-color, 20%);
            text-align: center;
            pointer-events: none;
            background: $light-color;
            border-top: $base-border;
            border-right: $base-border;
            border-bottom: $base-border;
            border-radius: 0 $global-radius $global-radius 0;
        }

        select {
            &:focus {
                box-shadow: none;
                background: $light-color;
                border-color: darken($light-color, 20%);
            }
        }
    }
}

input[type="checkbox"],
input[type="radio"] {
    top: rem-calc(1);
    left: 0;
    @include same-size(rem-calc(16));
    margin: 0;
    visibility: hidden;
    position: absolute;

    + label {
        cursor: pointer;
        font-size: rem-calc(12);
        position: relative;
        @include user-select(none);

        * {
            transition: all .35s ease;
        }

        .check {
            @include same-size(rem-calc(16));
            z-index: 2;
            display: inline-block;
            vertical-align: middle;
            border: 2px solid $mid-gray;
            border-radius: $global-radius;
            margin: rem-calc(0 2 0 0);

            .ico,
            &:after {
                opacity: 0;
                position: absolute;
                transition: all .35s ease;
            }
        }
    }

    &:checked {
        + label {
            .check {
                .ico,
                &:after {
                    opacity: 1;
                }
            }
        }
    }

    &:disabled {
        + label {
            opacity: .3;
            cursor: default;
            pointer-events: none;

            .check {
                background: darken($light-color, 20%);
                border-color: darken($light-color, 40%);
            }
        }
    }
}

// Checkboxes
input[type="checkbox"] {
    + label {
        .check {
            .ico {
                top: rem-calc(3);
                left: rem-calc(1);
                color: $brand-primary;
                font-size: rem-calc(14);
            }
        }
    }
}

// Radiobuttons
input[type="radio"] {
    + label {
        .check {
            position: relative;
            border-radius: 100px;

            &:after {
                content: "";
                top: 3px;
                left: 3px;
                @include same-size(rem-calc(8));
                border-radius: 100px;
                background: $brand-primary;
            }
        }
    }
}

