// Base
//------------------------------------------------------------
//


*, *:before, *:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

body, html {
    // @include same-size(100%);
    color: $base-font-color;
    font: {
        size: $base-font-size;
        family: $body-font-family;
    }
    background: $mid-gray;
    overflow-x: hidden;
}


img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}


a {
    line-height: 1;
    color: $brand-primary;
    text-decoration: none;
    transition: all .35s ease;

    &:hover {
        color: lighten($brand-primary, 20%);
    }

    &:active {
        color: darken($brand-primary, 10%);
    }
}


ul, ol, li, dl, dt, dd {
    @extend %reset-list;
}

