// IcoFonts
//------------------------------------------------------------
//


@font-face {
    font-family: 'flow';
    src:url('../../assets/fonts/flow.eot?b6y8x');
    src:url('../../assets/fonts/flow.eot?#iefixb6y8x') format('embedded-opentype'),
        url('../../assets/fonts/flow.woff?b6y8x') format('woff'),
        url('../../assets/fonts/flow.ttf?b6y8x') format('truetype'),
        url('../../assets/fonts/flow.svg?b6y8x#flow') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ico {
    font-family: 'flow';
    speak: none;
    font-size: rem-calc(30);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: $gray-color;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    @include font-smoothing;
}

.ico-show:before {
    content: "\e60f";
}
.ico-arrow-down:before {
    content: "\e600";
}
.ico-arrow-left:before {
    content: "\e601";
}
.ico-arrow-right:before {
    content: "\e602";
}
.ico-arrow-up:before {
    content: "\e603";
}
.ico-calendar:before {
    content: "\e604";
}
.ico-chart-up:before {
    content: "\e605";
}
.ico-chart:before {
    content: "\e606";
}
.ico-check:before {
    content: "\e607";
}
.ico-clock:before {
    content: "\e608";
}
.ico-close:before {
    content: "\e609";
}
.ico-customer:before {
    content: "\e60a";
}
.ico-dashboard:before {
    content: "\e60b";
}
.ico-diagram:before {
    content: "\e60c";
}
.ico-extensions:before {
    content: "\e60d";
}
.ico-favorite:before {
    content: "\e60e";
}
.ico-labels:before {
    content: "\e610";
}
.ico-logo:before {
    content: "\e611";
}
.ico-logout:before {
    content: "\e612";
}
.ico-mail:before {
    content: "\e613";
}
.ico-map:before {
    content: "\e614";
}
.ico-menu:before {
    content: "\e615";
}
.ico-minus:before {
    content: "\e616";
}
.ico-note:before {
    content: "\e617";
}
.ico-notifications:before {
    content: "\e618";
}
.ico-plus:before {
    content: "\e619";
}
.ico-preferences:before {
    content: "\e61a";
}
.ico-recycle:before {
    content: "\e61b";
}
.ico-refresh:before {
    content: "\e61c";
}
.ico-search:before {
    content: "\e61d";
}
.ico-settings:before {
    content: "\e61e";
}
.ico-shopping:before {
    content: "\e61f";
}
.ico-swap:before {
    content: "\e620";
}
.ico-tools:before {
    content: "\e621";
}
.ico-user:before {
    content: "\e622";
}
.ico-visibility:before {
    content: "\e623";
}
.ico-world:before {
    content: "\e624";
}
.ico-write:before {
    content: "\e625";
}
