// Revenues Insight
//------------------------------------------------------------
//



.revenues-insight {
    .revenues-charts {
        @extend %clearfix;
    }

    .revenue-chart {
        @include screen($medium) {
            float: right;
            width: 65%;
            margin: rem-calc(10 0 0);
        }
    }
}