// Sales Insight
//------------------------------------------------------------
//


.sales-insight {
    @include screen($medium) {
        @include col(8);
        padding-left: $col-gutter;
    }

    canvas {
        width: 100% !important;
        max-width: rem-calc(900);
        height: auto !important;
    }

    .period {
        float: right;
        padding: rem-calc(2 2 2 10);
        cursor: pointer;
        position: relative;
        font-size: rem-calc(13);
        background: $light-gray;
        border-radius: $global-radius;

        @include screen($medium) {
            margin: rem-calc(4 0 0);
        }

        > a {
            color: $base-font-color;
        }

        .ico {
            color: $base-font-color;
            font-size: rem-calc(18);
        }
    }

    .period-list {
        display: none;
        top: rem-calc(24);
        right: 0;
        z-index: 2;
        min-width: rem-calc(100);
        position: absolute;
        background: #fff;
        box-shadow: 0 6px 6px -4px rgba(#000, .5);
        border-radius: 0 0 $global-radius $global-radius;

        a {
            display: block;
            padding: rem-calc(8 10);

            &:hover {
                background: $light-gray;
            }

            &:active {
                background: $mid-gray;
            }
        }
    }
}

.open {
    .period-list {
        display: block;
    }
}

.sales-analytics {
    .sales-analytics-chart {
        @extend %clearfix;

        @include screen($large) {
            min-height: rem-calc(200);
        }
    }

    .analytics-chart {
        float: left;
        width: 100%;
        margin: rem-calc(20 0 0);

        @include screen($medium) {
            width: 70%;
        }

        @include screen($large) {
            width: 73%;
        }
    }

    .piecharts {
        float: left;
        width: 100%;
        text-align: center;

        @include screen($medium) {
            width: auto;
            margin: rem-calc(20 0 0 15);
            text-align-last: auto;
        }

        .chart {
            @include same-size(rem-calc(80));
            margin: rem-calc(10 50 10 0);
            display: inline-block;
            position: relative;

            @include screen($medium) {
                display: block;
                margin: rem-calc(10 0);
            }
        }

        .percent {
            top: 50%;
            left: 50%;
            margin: rem-calc(-12 0 0 0);
            position: absolute;
            font-family: $base-font-light;
            @include transform(translateX(-50%));

            &:after {
                content: "%";
            }
        }

        .green {
            .percent {
                color: $green-color;
            }
        }

        .blue {
            .percent {
                color: $blue-color;
            }
        }

        .label {
            top: 50%;
            left: rem-calc(80);
            color: $base-font-color;
            font-weight: 700;
            font-size: rem-calc(12);
            position: absolute;
            @include transform(translateY(-50%));
        }
    }
}

